<h2>Edit New Cocktail</h2>

<div class="input">
  <%= render "form", cocktail: @cocktail %>
</div>

<hr>

<div class="link">
    <%= link_to cocktails_path do %>
      <i class="fa fa-undo" aria-hidden="true"></i> Back to List
    <% end %>
</div>
