// General CSS Layouts

body {
  background-color: #272424;
  font-family: "Playfair Display", serif;
  font-size: 11pt !important;
  color: #E9E8E2;
  width: 90%;
  margin: auto;
}

a {
  color: #E9E8E2;
}

.link {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
}
